.app-footer {
	align-items: center;
	justify-content: center;
}
footer {
	align-items: center;
	font-size: 1.5rem;
	img {
		height: 20px;
	}
	span {
		margin-inline-start: 10px;
		font-family: cursive;
	}
}
