.stats-page {
	background-image: url("../../imgs/background.png");
	background-repeat: repeat;
	background-size: 30%;
	padding-top: 20px;
	min-height: 84vh;
	width: 100%;
}
.dark-mode {
	.sites {
		li {
			&:hover {
				background-color: rgb(144, 144, 144);
			}
		}
	}
}
.light-mode {
	.sites {
		li {
			&:hover {
				background-color: lighten($c5, 50%);
			}
		}
	}
}

.sites {
	li {
		cursor: pointer;
		border: 1px solid;
		border-radius: 8px;
		padding: 5px;
		transition: all 0.7s;
	}
}
@media screen and (max-width: 520px) {
	.stats li {
		font-size: 0.8rem !important;
	}
}
